h1{
    text-align: center;
    font-size: 40px;
    color:rgb(196, 82, 40);
}
h2{
    color:rgb(200, 82, 40);
}
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.recipe-link{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: wheat;
    
    
}
body{
    background-color: rgb(127, 185, 214);
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.recipe-link:hover{
    font-size: 35px;
    color:rgb(0, 0, 0)
}